.padding-t-sm {
  padding-top: 5px;
}
.padding-t-md {
  padding-top: 10px;
}
.padding-t-lg {
  padding-top: 15px;
}

.padding-b-sm {
  padding-bottom: 5px;
}
.padding-b-md {
  padding-bottom: 10px;
}
.padding-b-lg {
  padding-bottom: 15px;
}

.padding-l-sm {
  padding-left: 5px;
}
.padding-l-md {
  padding-left: 10px;
}
.padding-l-lg {
  padding-left: 15px;
}
