.margin-t-sm {
    margin-top: 5px;
}
.margin-t-md {
    margin-top: 10px;
}
.margin-t-lg {
    margin-top: 15px;
}

.margin-l-sm {
    margin-left: 5px;
}
.margin-l-md {
    margin-left: 10px;
}
.margin-l-lg {
    margin-left: 15px;
}

.margin-lr-auto{
    margin-left:auto ;
    margin-right:auto ;
}